extends layout.jade

block content
  each repo in repos
    div.row(style='background-color: rgba(255, 251, 0,0.5); margin-bottom: 50px; padding-bottom: 20px')
      img(src=repo.owner.avatar_url, style='width=128px; height: 128px; border-radius: 5px;')
      div
        h2= repo.name
        p= repo.description
          

      div(style='float: right; margin-right: 5%; text-align: right')
        a(style='color: yellow; align: right', href='/repositories?id='+repo.id)= "More Details"
        p
          a(style='color: yellow; align: right', href=repo.html_url)= "View in GitHub"
        h5(style='margin-top: 0px')= "Issues "
          a(style='color: yellow')= repo.open_issues
